@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
    margin: 0;
    overflow-y: hidden;
    /* font-family: "Nanum Gothic", sans-serif;
     */
    font-family: "Do Hyeon", sans-serif;
    color: white;
}

.outer {
    height: 100vh;
    overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
    display: none;
}

.inner {
    height: 100vh;
}
