@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
html {
    width: 1380px;
    margin: 0 auto;
}

body {
    overflow-y: hidden;
    font-family: "Do Hyeon", sans-serif;
    color: white;
    /* width: 1230px; */
}
.page {
    display: flex;
    justify-content: center;
}

.outer {
    height: 100vh;
    overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
    display: none;
}

.inner {
    height: 100vh;
}
