.historybox {
    height: 40vh;
}
.history {
    text-align: center;
    font-size: 2.5em;
    margin: 30px;
}
.history-info {
    display: flex;
    justify-content: space-around;
}
.history-line {
    width: 410px;
    margin: 0 auto;
}
.education-box {
    border: 2px solid white;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 6%;
}
.academy-box {
    border: 2px solid white;
    border-radius: 10px;
    padding: 25px;
}
.title {
    text-align: center;
    font-size: 1.3em;
}
.first-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    clear: both;
    position: relative;
    margin: 5px 0px;
}
.first-info:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 1px dashed white;
}
.second-info {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 0.8em;
    text-align: end;
    margin: 5px 0px;
}
.rightbox {
    border: 2px solid white;
    border-radius: 10px;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
@media (max-width: 920px) {
    .history-info {
        display: block;
        text-align: center;
        border: 2px solid white;
        border-radius: 10px;
        width: 85%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .mobile-history {
        display: flex;
        justify-content: center;
        border: 2px solid white;
    }
    .history-line {
        width: 100%;
    }
    .education-box {
        border: none;
        padding: 0;
        margin-bottom: 0;
    }
    .academy-box {
        border: none;
        padding: 0;
    }
    .first-info:before {
        display: none;
    }
    .second-info {
        display: none;
    }
    .rightbox {
        border: none;
        border-radius: 10px;
        padding: 0;
    }
}
