.box {
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 45vw;
}
@media (min-width: 921px) {
    .box {
        perspective: 2000px;
        display: flex;
        justify-content: center;
    }
    .box .item {
        width: 40vw;
        height: 15vh;
        background-color: white;
        border-radius: 10px;
        backface-visibility: hidden;
        transition: 1s;
        transform: scale(1.2);
    }
    .box .item.front {
        position: absolute;
        transform: rotateY(0deg);
    }
    .box:hover .item.front {
        transform: rotateY(180deg);
    }
    .box .item.back {
        transform: rotateY(-180deg);
    }
    .box:hover .item.back {
        transform: rotateY(0deg) scale(1.2) !important;

        background-color: rgba(234, 234, 234, 0.7);
    }
    .box:hover {
        z-index: 1;
    }
}

.box-name {
    margin: 10px;
    font-size: 30px;
    text-align: center;
}
.bars {
    display: none;
}
.img-box {
    margin: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-box-mobile {
    display: none;
}
.img-box-none {
    display: none;
}
.texts {
    padding: 5px 10px;
}
@media (max-width: 920px) {
    .box {
        width: 70vw;
        background-color: white;
        color: black;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }
    .box:hover {
        background-color: rgba(234, 234, 234, 0.7);
    }
    .back {
        display: none;
    }
    .box-name {
        margin: 10px;
        font-size: 20px;
        text-align: center;
    }
    .mobilename {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5%;
    }
    .bars {
        display: block;
        font-size: 25px;
    }
    .xmark:hover {
        transition: all 0.5s linear;
        transform: rotate(180deg);
    }
    .img-box {
        display: none;
    }
    .img-box-none {
        display: none;
    }
    .img-box-mobile {
        padding: 20px 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
