.box {
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
@media (min-width: 921px) {
    .box {
        perspective: 2000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box .item {
        width: 30vw;
        height: 13vh;
        background-color: white;
        border-radius: 10px;
        backface-visibility: hidden;
        transition: 1s;
        transform: scale(1.2);
    }
    .box .item.front {
        position: absolute;
        transform: rotateY(0deg);
    }
    .box:hover .item.front {
        transform: rotateY(180deg);
    }
    .box .item.back {
        transform: rotateY(-180deg);
    }
    .box:hover .item.back {
        transform: rotateY(0deg) scale(1.2) !important;
        background-color: rgb(231, 230, 230);
        /* width: 85%; */
    }
    .box:hover {
        z-index: 1;
    }
    .item {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}

.box-name {
    margin: 10px;
    font-size: 30px;
    text-align: center;
}
.bars {
    display: none;
}
.img-box {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-box-mobile {
    display: none;
}
.img-box-none {
    display: none;
}
.texts {
    padding: 5px 10px;
}
@media (max-width: 920px) {
    .box {
        width: 100%;
        background-color: white;
        color: black;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }
    .box:hover {
        background-color: rgb(231, 230, 230);
    }
    .back {
        display: none;
    }
    .box-name {
        margin: 5px;
        font-size: 15px;
        text-align: center;
    }
    .mobilename {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5%;
    }
    .bars {
        display: block;
        font-size: 15px;
    }
    .xmark:hover {
        transition: all 0.5s linear;
        transform: rotate(180deg);
    }
    .img-box {
        display: none;
    }
    .img-box-none {
        display: none;
    }
    .img-box-mobile {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
    }

    .img-box-mobile > div:first-child {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
}
