.allskills {
    height: 50vh;
}
.skills {
    /* display: flex;
    /* width: 1265px; */
    /* flex-wrap: wrap;
    justify-content: center;  */
}
@media (max-width: 920px) {
    .allskills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills {
        display: block;
    }
}
