.allskills {
    height: 50vh;
}
.skills {
    display: flex;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media (max-width: 920px) {
    .allskills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills {
        display: block;
    }
}
