.allskills {
    height: 50vh;
    display: flex;
}
.skills {
    display: flex;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
@media (max-width: 920px) {
    .allskills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills {
        display: block;
        width: 80%;
    }
}
